/**
 * @name ebm
 * @author ClearVision Team
 * @version 6.1.1
 * @description Highly customizable and beautiful theme for BetterDiscord.
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website https://clearvision.gitlab.io
 * @invite dHaSxn3
*/

@import url('https://clearvision.gitlab.io/v6/main.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://nyri4.github.io/Discolored/main.css');
:root {
  --main-color: #076b81;
  --hover-color: var(--main-color); /*#ae7b0b*/
  --success-color: #43b581;
  --danger-color: #982929;
  --url-color: #f0ad19;
  --text-color: #5fdbf6;
  --background-image: transparent;
  --background-shading: 0%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: scroll;
  --background-brightness: 0%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-grayscale: 0%;
  --background-invert: 0%;
  --background-blur: 0px;
  --background-overlay: #000000;
  --user-popout-image: transparent;
  --user-popout-position: top right;
  --user-popout-size: cover;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 0%;
  --user-popout-contrast: 100%;
  --user-popout-saturation: 100%;
  --user-popout-grayscale: 0%;
  --user-popout-invert: 0%;
  --user-popout-blur: 19px;
  --user-modal-image: transparent;
  --user-modal-position: center;
  --user-modal-size: cover;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 0%;
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 0%;
  --user-modal-invert: 0%;
  --user-modal-blur: 0px;
  --home-icon: url('https://clearvision.gitlab.io/icons/discord.svg');
  --home-position: center;
  --home-size: 40px;
  --channel-unread: var(--main-color);
  --channel-color: var(--main-color);
  --muted-color: rgba(255,255,255,0.1);
  --online-color: #43b581;
  --idle-color: #faa61a;
  --dnd-color: #982929;
  --streaming-color: #593695;
  --offline-color: #808080;
  --main-font: "FiraCode Nerd Font";
  --code-font: var(--main-font);
  --channels-width: 220px;
  --members-width: 240px;
  --backdrop-overlay: #000000;
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
  --rs-small-spacing: 3px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */


::selection {
  color: var(--url-color);
  background: var(--main-color);
}

.match-20K5f5, .overflow-1wOqNV,
  .subText-3Sk0zy, .activityText-ev7Z1T, .message-2CShn3 .markup-eYLPri,
  .name-2m3Cms, .contents-3ca1mk, .textArea-2CLwUE, .input-2FSSDe,
  .username-3JLfHz, .username-Qpc78p, .name-3Uvkvr, .actionIcon-2sw4Sl,
  .label-2gNW3x, .subtext-2GlkbE, .embedDescription-1DrJxZ,
  .title-17SveM, .typing-2J1mQU, button,
  span:not(.desaturateUserColors-1O-G89, .username-h_Y3Us, .ping-2IpLcU),
  .metadataName-1KMZtB {
  color: var(--text-color) !important;
}
.discriminator-WV5K5s, .text-MPIeXO, .button-2BMPJJ, .linkButtonIcon-7rsZcu,
  .searchBarComponent-3N7dCG,
  .public-DraftEditorPlaceholder-inner, .timestamp-p1Df1m, .timestampInline-_lS3aK,
  .topic-11NuQZ, .expandable-3CaLeS, .blockquoteContainer-3VtvI1, .metadataSize-2A2s1T,
  .content-vSHmMD, .spoilerText-27bIiA, .counter-uAzbKp,
  .toolbar-3_r2xA, .clickable-ZD7xvu, .icon-2xnN2Y, .voiceUser-3nRK-K, .username-vAneIW {
  color: var(--main-color) !important;
}
.spoilerText-27bIiA.hidden-3B-Rum {
  background: var(--main-color) !important;
}

.channelMention, .wrapper-1ZcZW-, .iconMention-3WxjBe,
.iconMentionText-1_WCtN, .mention, .interactive, .wrapper-3kah-n {
  color: var(--url-color) !important;
}

.scrollableContainer-15eg7h {
  border: 2px solid var(--main-color) !important;
}

.hoverRoll-2XwpoF, .usernameContainer-3PPkWq,
.text-sm-medium-3Pz3rB, .text-sm-normal-3Zj3Iv {
  font-family: var(--main-font) !important;
}