*
!.gitignore
!.zshrc
!.profile
!README.MD

# track config files
!/.config
!/.config/i3/
!/.config/i3/*
!/.config/i3/custom/*
!/.config/hypr/
!/.config/hypr/*
!/.config/polybar
!/.config/polybar/*
!/.config/i3status/
!/.config/i3status/*
!/.config/picom/
!/.config/picom/*
!/.config/neofetch/
!/.config/neofetch/*
!/.config/dunst/
!/.config/dunst/*
!/.config/kitty/
!/.config/kitty/*
!/.config/vis/
!/.config/vis/*
!/.config/rofi/
!/.config/rofi/*

# BetterDiscord
!/.config/BetterDiscord/
!/.config/BetterDiscord/*
!/.config/BetterDiscord/plugins/
!/.config/BetterDiscord/plugins/*
!/.config/BetterDiscord/themes/
!/.config/BetterDiscord/themes/*

# PPSSPP
!/.config/ppsspp/
!/.config/ppsspp/*

# Scripts
!/.bin/
!/.bin/bright
!/.bin/chwp
!/.bin/fanspeed.sh
!/.bin/keyboard-backlight
!/.bin/touchpadctl
!/.bin/volume-ctl
!/.bin/powermenu.sh
!/.bin/restore.sh

# Custom theme
!/.themes/
!/.themes/wipeout-pure-hacker-clone/
!/.themes/wipeout-pure-hacker-clone/*
!/.themes/wipeout-pure-hacker-clone/assets/
!/.themes/wipeout-pure-hacker-clone/assets/*
!/.themes/wipeout-pure-hacker-clone/metacity-1/
!/.themes/wipeout-pure-hacker-clone/metacity-1/*
!/.themes/wipeout-pure-hacker-clone/gtk-3.0/
!/.themes/wipeout-pure-hacker-clone/gtk-3.0/*
!/.themes/wipeout-pure-hacker-clone/gtk-3.0/assets/
!/.themes/wipeout-pure-hacker-clone/gtk-3.0/assets/*
!/.themes/wipeout-pure-hacker-clone/gtk-3.0/assets/dist/
!/.themes/wipeout-pure-hacker-clone/gtk-3.0/assets/dist/*
!/.themes/wipeout-pure-hacker-clone/gtk-3.20/
!/.themes/wipeout-pure-hacker-clone/gtk-3.20/*
!/.themes/wipeout-pure-hacker-clone/gtk-3.20/assets/
!/.themes/wipeout-pure-hacker-clone/gtk-3.20/assets/*
!/.themes/wipeout-pure-hacker-clone/gtk-3.20/assets/dist/
!/.themes/wipeout-pure-hacker-clone/gtk-3.20/assets/dist/*