*
!.gitignore
!.zshrc
!README.MD

# track config files
!/.config
!/.config/i3/
!/.config/i3/*
!/.config/i3/custom/*
!/.config/polybar
!/.config/polybar/*
!/.config/i3status/
!/.config/i3status/*
!/.config/picom/
!/.config/picom/*
!/.config/neofetch/
!/.config/neofetch/*
!/.config/dunst/
!/.config/dunst/*
!/.config/kitty/
!/.config/kitty/*
!/.config/vis/
!/.config/vis/*
!/.config/BetterDiscord/
!/.config/BetterDiscord/*