*
!.gitignore
!.zshrc
!.profile
!README.MD
!node_modules

# track config files
!/.config
!/.config/i3/
!/.config/i3/*
!/.config/i3/custom/*
!/.config/hypr/
!/.config/hypr/*
!/.config/polybar
!/.config/polybar/*
!/.config/i3status/
!/.config/i3status/*
!/.config/picom/
!/.config/picom/*
!/.config/neofetch/
!/.config/neofetch/*
!/.config/dunst/
!/.config/dunst/*
!/.config/kitty/
!/.config/kitty/*
!/.config/vis/
!/.config/vis/*
!/.config/rofi/
!/.config/rofi/*
!/.config/xborders/
!/.config/xborders/*

# BetterDiscord
!/.config/BetterDiscord/
!/.config/BetterDiscord/plugins/
!/.config/BetterDiscord/plugins/*
!/.config/BetterDiscord/themes/
!/.config/BetterDiscord/themes/*

# PPSSPP
!/.config/ppsspp/
!/.config/ppsspp/*

# Scripts
!/.bin/
!/.bin/bright
!/.bin/chwp
!/.bin/fanspeed.sh
!/.bin/keyboard-backlight
!/.bin/touchpadctl
!/.bin/volume-ctl
!/.bin/powermenu.sh
!/.bin/restore.sh
!/.bin/node-scripts/
!/.bin/node-scripts/*
!/.bin/node-scripts/scripts/
!/.bin/node-scripts/scripts/*

# Custom theme
!/.themes/
!/.themes/forestfall/
!/.themes/forestfall/*
!/.themes/forestfall/assets/
!/.themes/forestfall/assets/*
!/.themes/forestfall/metacity-1/
!/.themes/forestfall/metacity-1/*
!/.themes/forestfall/gtk-3.0/
!/.themes/forestfall/gtk-3.0/*
!/.themes/forestfall/gtk-3.0/assets/
!/.themes/forestfall/gtk-3.0/assets/*
!/.themes/forestfall/gtk-3.0/assets/dist/
!/.themes/forestfall/gtk-3.0/assets/dist/*
!/.themes/forestfall/gtk-3.20/
!/.themes/forestfall/gtk-3.20/*
!/.themes/forestfall/gtk-3.20/assets/
!/.themes/forestfall/gtk-3.20/assets/*
!/.themes/forestfall/gtk-3.20/assets/dist/
!/.themes/forestfall/gtk-3.20/assets/dist/*

!/.icons/
!/.icons/forestfall/
!/.icons/forestfall/*
!/.icons/forestfall/actions/
!/.icons/forestfall/actions/*
!/.icons/forestfall/actions/scalable/
!/.icons/forestfall/actions/scalable/*
!/.icons/forestfall/animations/
!/.icons/forestfall/animations/*
!/.icons/forestfall/animations/scalable/
!/.icons/forestfall/animations/scalable/*
!/.icons/forestfall/apps/
!/.icons/forestfall/apps/*
!/.icons/forestfall/apps/scalable/
!/.icons/forestfall/apps/scalable/*
!/.icons/forestfall/categories/
!/.icons/forestfall/categories/*
!/.icons/forestfall/categories/scalable/
!/.icons/forestfall/categories/scalable/*
!/.icons/forestfall/devices/
!/.icons/forestfall/devices/*
!/.icons/forestfall/devices/scalable/
!/.icons/forestfall/devices/scalable/*
!/.icons/forestfall/emblems/
!/.icons/forestfall/emblems/*
!/.icons/forestfall/emblems/scalable/
!/.icons/forestfall/emblems/scalable/*
!/.icons/forestfall/mimetypes/
!/.icons/forestfall/mimetypes/*
!/.icons/forestfall/mimetypes/scalable/
!/.icons/forestfall/mimetypes/scalable/*
!/.icons/forestfall/places/
!/.icons/forestfall/places/*
!/.icons/forestfall/places/scalable/
!/.icons/forestfall/places/scalable/*
!/.icons/forestfall/status/
!/.icons/forestfall/status/*
!/.icons/forestfall/status/scalable/
!/.icons/forestfall/status/scalable/*
!/.icons/forestfall/stock/
!/.icons/forestfall/stock/*
!/.icons/forestfall/stock/io/
!/.icons/forestfall/stock/io/*
!/.icons/forestfall/stock/io/scalable/
!/.icons/forestfall/stock/io/scalable/*