@import "~/.config/rofi/forestfall.rasi"

configuration {
    font:                           "FiraCode Nerd Font 20";
    show-icons:                     true;
    disable-history:                true;
    sidebar-mode: 		   false;
}

window {
    background-color:               @background;
    border:                         0;
    padding:                        10;
    transparency:                   "real";
}
