@import "~/.config/rofi/wipeout.rasi"

configuration {
    font:                           "FiraCode 20";
    show-icons:                     true;
    icon-theme: 		   "wipeout-pure-hacker-clone";
    disable-history:                true;
    sidebar-mode: 		   false;
}

window {
    background-color:               @background;
    border:                         0;
    padding:                        10;
    transparency:                   "real";
}
